{% extends 'app/base.html' %}
{% load static %}
{% block content%}
<div class="header-container">
    {% if top_post %}
    {% for post in top_post %}
    <a href="{% url 'article-detail' post.slug %}" class="header-click">
    
    <img class="header-image" src="{{post.header_image_url}}" alt="" />
    <h1><u>{{post.title}}</u></h1>
    {% endfor %}
    </a>
    {% else %}
    <h1>No Top Post</h1>
    {% endif %}
</div>
<div class="article-container">
{% if articles %}
{%for article in articles %}
<a href="{% url 'article-detail' article.slug %}">
<div class="list-item">
<div class="list-item-column-one">
<img class="list-item-image" src="{{article.header_image_url}}" />
</div>
<div class="list-item-column-two">
<b>{{article.title}}</b> published on <i>{{article.published_date}}</i>
</div>
</div>
</a>
{% endfor %}
{% endif %}
</div>

{% endblock %}